
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f5ff;
    color: #28262c;
}

h1 {
    color: #998fc7;
}

header {
    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #d4c2fc;
    padding: 0.25em;
    border-radius: 2em;    
}

button {
    background-color: #d4c2fc;
    padding: 0.5em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    width: 6em;    
}

main {
    margin-left: 0.5em;
    margin-right: 0.5em;

    display: flex;
    flex-wrap: wrap;
 }

.selected-nav-button {
    background-color: #f9f5ff;
}

.light-square {
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    background-color: #d4c2fc;

    width: 100%;

    align-self: start;
}

.contrast-square {
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;

    width: 100%;

    background-color: #14248a;
    color: #f9f5ff;
    align-self: start;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}

.my-name {
    font-family: serif;
    font-size: 3em;
    font-weight: bold;
}

.caption {
    margin-top: 0.25em;
    text-align: center;
}

.hide-small {
    display: none;
}

@media only screen and (min-width: 40em) {
    main {
        margin-left: 4em;
        margin-right: 4em;
    }

    .hide-small {
        display: unset;
    }

    .show-small {
        display: none;
    }

    .light-square {
        max-width: 40%;
    }

    .contrast-square {
        max-width: 40%;
    }
}
