
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f5ff;
    color: #28262c;
}

h1 {
    color: #998fc7;
}

header {
    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    background-color: #d4c2fc;
    padding: 0.25em;
    border-radius: 2em;    
}

button {
    background-color: #d4c2fc;
    padding: 0.5em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    width: 6em;    
}

main {
    margin-left: 4em;
    margin-right: 4em;

    display: flex;
 }

.selected-nav-button {
    background-color: #f9f5ff;
}

.light-square {
    margin: 1em;
    background-color: #d4c2fc;
    padding: 1em;
    border-radius: 1em;
}

.contrast-square {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;

    background-color: #14248a;
    color: #f9f5ff;
}

img {
    max-width: 100%;
}

.my-name {
    font-family: serif;
    font-size: 3em;
    font-weight: bold;
}

.caption {
    margin-top: 0.25em;
    text-align: center;
}
