:root {
    --main-foreground: #28262c;
    --main-background: #f9f5ff;
    --light: #d4c2fc;
    --medium: #998fc7;
    --contrast: #14248a;
}

html[data-theme="dark"] {
    --main-foreground: #f9f5ff;
    --main-background: #28262c;
    --light: #14248a;
    --medium: #998fc7;
    --contrast: #d4c2fc;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-background);
    color: var(--main-foreground);
}

h1 {
    color: var(--medium);
}

header {
    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: var(--light);
    padding: 0.25em;
    border-radius: 2em;    
}

button {
    background-color: var(--light);
    color: var(--main-foreground);
    padding: 0.5em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    width: 6em;    
}

main {
    margin-left: 0.5em;
    margin-right: 0.5em;

    display: flex;
    flex-wrap: wrap;
 }

.selected-nav-button {
    background-color: var(--main-background);
}

.light-square {
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--light);

    width: 100%;

}

.contrast-square {
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;

    width: 100%;

    background-color: var(--contrast);
    color: var(--main-background);
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}

.my-name {
    font-family: serif;
    font-size: 3em;
    font-weight: bold;
}

.caption {
    margin-top: 0.25em;
    text-align: center;
}

.hide-small {
    display: none;
}

.slider-container {
    width: 4em;
    height: 2em;

    border-radius: 1em;
    position: relative;
    background-color: var(--light);
}

#darkModeSwitch {
    position:absolute;
    left: 0em;

    margin: 0;
    appearance: unset;
    font-size: 1em;

    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: var(--main-background);
    border: 1px solid var(--main-foreground);

    transition: left 0.25s;
}

#darkModeSwitch:checked {
    left: 2.0em;
    background-color: var(--main-foreground);
    border: 1px solid var(--main-background);
}

@media only screen and (min-width: 40em) {
    main {
        margin-left: 4em;
        margin-right: 4em;
    }

    .hide-small {
        display: unset;
    }

    .show-small {
        display: none;
    }

    .light-square {
        max-width: 40%;
    }

    .contrast-square {
        max-width: 40%;
    }
}
