/* CSS HEX */
--raisin-black: #28262cff;
--tropical-indigo: #998fc7ff;
--periwinkle: #d4c2fcff;
--magnolia: #f9f5ffff;
--resolution-blue: #14248aff;

/* CSS HSL */
--raisin-black: hsla(260, 7%, 16%, 1);
--tropical-indigo: hsla(251, 33%, 67%, 1);
--periwinkle: hsla(259, 91%, 87%, 1);
--magnolia: hsla(264, 100%, 98%, 1);
--resolution-blue: hsla(232, 75%, 31%, 1);

/* SCSS HEX */
$raisin-black: #28262cff;
$tropical-indigo: #998fc7ff;
$periwinkle: #d4c2fcff;
$magnolia: #f9f5ffff;
$resolution-blue: #14248aff;

/* SCSS HSL */
$raisin-black: hsla(260, 7%, 16%, 1);
$tropical-indigo: hsla(251, 33%, 67%, 1);
$periwinkle: hsla(259, 91%, 87%, 1);
$magnolia: hsla(264, 100%, 98%, 1);
$resolution-blue: hsla(232, 75%, 31%, 1);

/* SCSS RGB */
$raisin-black: rgba(40, 38, 44, 1);
$tropical-indigo: rgba(153, 143, 199, 1);
$periwinkle: rgba(212, 194, 252, 1);
$magnolia: rgba(249, 245, 255, 1);
$resolution-blue: rgba(20, 36, 138, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-right: linear-gradient(90deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-bottom: linear-gradient(180deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-left: linear-gradient(270deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-top-right: linear-gradient(45deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-bottom-right: linear-gradient(135deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-top-left: linear-gradient(225deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-bottom-left: linear-gradient(315deg, #28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);
$gradient-radial: radial-gradient(#28262cff, #998fc7ff, #d4c2fcff, #f9f5ffff, #14248aff);