/* CSS HEX */
--sunset: #e6c79cff;
--tea-green: #cddfa0ff;
--emerald: #6fd08cff;
--cadet-gray: #7b9ea8ff;
--chinese-violet: #78586fff;

/* CSS HSL */
--sunset: hsla(35, 60%, 76%, 1);
--tea-green: hsla(77, 50%, 75%, 1);
--emerald: hsla(138, 51%, 63%, 1);
--cadet-gray: hsla(193, 21%, 57%, 1);
--chinese-violet: hsla(317, 15%, 41%, 1);

/* SCSS HEX */
$sunset: #e6c79cff;
$tea-green: #cddfa0ff;
$emerald: #6fd08cff;
$cadet-gray: #7b9ea8ff;
$chinese-violet: #78586fff;

/* SCSS HSL */
$sunset: hsla(35, 60%, 76%, 1);
$tea-green: hsla(77, 50%, 75%, 1);
$emerald: hsla(138, 51%, 63%, 1);
$cadet-gray: hsla(193, 21%, 57%, 1);
$chinese-violet: hsla(317, 15%, 41%, 1);

/* SCSS RGB */
$sunset: rgba(230, 199, 156, 1);
$tea-green: rgba(205, 223, 160, 1);
$emerald: rgba(111, 208, 140, 1);
$cadet-gray: rgba(123, 158, 168, 1);
$chinese-violet: rgba(120, 88, 111, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-right: linear-gradient(90deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-bottom: linear-gradient(180deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-left: linear-gradient(270deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-top-right: linear-gradient(45deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-bottom-right: linear-gradient(135deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-top-left: linear-gradient(225deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-bottom-left: linear-gradient(315deg, #e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);
$gradient-radial: radial-gradient(#e6c79cff, #cddfa0ff, #6fd08cff, #7b9ea8ff, #78586fff);